# Workflow name
name: Seo Blog Build

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies

        run: pnpm install

      - name: Build the project
        run: pnpm run build

      - name: Check build status
        run: echo "Build completed successfully!"
